body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center ;
    background: black;
    background-size: cover;
    background-position: bottom;
    font-family: 'Montserrat', sans-serif;
}
.center {
     width: 400px;
     background-color: rgb(255, 248, 248);
     border-radius: 10px;
}
.text  {
    text-align: center;
    font-size: 20px;
    color:black;
    letter-spacing: 0.5px;
    border-bottom: 1px solid black;
    user-select: none;
}
.form {
    min-height: 300px;
    padding: 50px 50px;
     border-radius: 10px;
     margin-left: 2rem  ;
}
.form input {
     margin-top:12px;
     margin-bottom: 10px;
     width: 200px;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid rgb(173, 164, 164);
     outline: none;
}
.form input :focus {
     border: 1px solid #10866c;
     outline: cadetblue;
}
.form button {
    margin: 40px;
    width: 130px;
    padding: 10px ;
    background-color: #ec1212;
    color: white;
    border: none;
    outline: none;
    font-weight: 1000;
    margin-left: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
}
.form button:hover {
  transition: .4s;
    background-color: #000000;
}   
.signup{
    text-align: center;
    padding-right: 20px;
    color: rgb(36, 32, 32);
}
.signup a{
    text-decoration: none;
    color: #175fe4;
    margin-left: 8px;
}
.signup a:hover{
    text-decoration: underline;
}
.form label {
     font-size: 14px;
     font-weight: 1000;
     color: rgb(93, 90, 90);
}
<<<<<<< HEAD
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(245, 0, 0);
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(245, 4, 4);
  background-color: rgb(245, 4, 4);
    animation: loader-inner 2s infinite ease-in;
}
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
=======

>>>>>>> 46bb5ab908d0790da1c6ff19cc1b14f0054c1c26
  
  input[type="file"]{
    display: none;
  }
  .form .label {
     height: 50px;
     width: 220px;
     margin-top: 20px;
     border-radius: 3px;
     cursor: pointer;
     background:#f5af09;
     text-align: center;
     justify-content: center;
     align-items: center;
     display: flex;
     left: 0;
     right: 0;
     color: white;
  }
  .forget {
     margin-top: 20px;
  }
  .forget a{
     color: rgb(255, 0, 0);
     text-decoration: none;
  }
  .forget a:hover {
    text-decoration: underline;
  }
 
