*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
    background-size: cover;
    background-position: bottom;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(28, 28, 29);
}
.sidebar header {
    text-align: center;
    color: white;
    user-select: none;
    font-size: 23px;
    margin-bottom:40px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top:  1px solid rgb(68, 61, 61);
    border-bottom: 1px solid  rgb(68, 61, 61);
    transition: .4s;
}
.sidebar ul a i{
    margin: 20px;
    color: rgb(226, 151, 11);
}
ul li:hover a {
    background-color: rgb(120, 192, 4);
}
.sidebar img {
     width: 100px;
     height: 100px;
     border-radius: 100px;
     margin-top: 30px;
}
.center  {
    align-items: center;
    background-color: white;
    min-height: 300px;
    padding:60px 60px;
    border-radius: 10px;
    margin-left: 15rem;
    height: 500px;
    width: 900px;
}
.center h1 {
     text-align: center;
     line-height: 90px;
     background-color: cadetblue;
}
.center input {
     margin-top: 10px;
     width: 100%;
     height: 100%;
     border: 1px solid rgb(207, 207, 207);
     padding: 12px;
     outline: none;
     border-radius: 10px;
     background: transparent;
     transition: .3s;
}
.center input:focus{
     border: 1px solid rgb(17, 17, 228);
}
.center label {
     color: black;
}
.center img {
     width: 100px;
     height: 100px;
     display: flex;
     border-radius: 100px;
     margin-left: 20rem;
}
.center button {
     display: block;
     width: 100%;
     padding: 15pX 20px;
     align-items: center;
     margin-top: 40px;
     border: none;
     background: rgb(8, 122, 253);
     color: white;
     font-weight: 1000;
     outline: none;
     font-size: 14px;
     cursor: pointer;
     border-radius: 3px;
     transition: .3s;
}
.center button:hover{
    background: rgb(3, 94, 136);
}
.sidebar .button{
    background:#0f4468;
    display: block;
    margin-top: 90px;
    width: 50%;
    margin-left: 70px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.sidebar .button button{
     padding:10px;
     border: none;
     background: transparent;
     color: white;
     font-size: 17px;
     cursor: pointer;

}
 .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5rem;
    min-width: 400px;
    margin-left: 15rem;
    user-select: none;
}
.content-table thead tr {
     background-color: #1f0216;
     text-align: left;
     color: white;
     font-weight: bold;
}
.content-table th  {
    padding: 12px 15px;
}
.content-table td {
    background-color: rgb(194, 193, 193);
     padding: 12px 15px;
}
.content-table tbody tr {
     border-bottom:1px solid #dddddd;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  small {
       font-size: 12px;
       font-weight: bold;
  }