@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #E4E9F7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center ;
    font-family:'Poppins',sans-serif;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
     color: #fff;
     font-size: 30px;
     height: 50px;
     min-width: 78px;
     text-align: center;
     line-height: 50px;
}
.sidebar .logo-details .logo_name{
     color: #fff;
     font-size: 23px;
     font-weight: 600;
}
.sidebar .nav-links{
    background: #11101d;
    height: 100%;
    padding-top: 30px;
}
.sidebar .nav-links  li {
    position: relative;
    list-style: none;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links :hover {
    background: #1d1b31;
    transition: all 0.4s ease;
}
.sidebar .nav-links li i{
    color: #fff;
    height: 50px;
    min-width: 50px;
    font-size: 20px;
}
.sidebar .nav-links li a  {
    text-decoration: none;
    text-align: center;

}
.sidebar .link_name{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.sidebar ul a i{
    margin: 20px;
}
.sidebar .profile-details {
     position: fixed;
     bottom: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px ;
     margin: 0 12px 0 12px;
    background: #1d1b31;
    padding: 10px;
}
.sidebar .profile-details .profile_name{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    display: flex;
}
.sidebar .profile-details .job{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}
.sidebar .profile-details  button{
    background: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}
.center  {
    align-items: center;
    width: 900px;
    background-color: white;
    min-height: 300px;
    padding:60px 60px;
    border-radius: 10px;
    margin-left: 15rem;
}
.center input {
    margin-top: 10px;
    margin-bottom: 10px;
     width: 100%;
     height: 100%;
     border: 1px solid rgb(207, 207, 207);
     padding: 12px;
     outline: none;
     border-radius: 10px;
     background: transparent;
     transition: .3s;
}
.center input:focus{
     border: 1px solid rgb(17, 17, 228);
}
.center label {
     color: black;
}
.center button {
     display: block;
     width: 100%;
     padding: 15pX 20px;
     align-items: center;
     margin-top: 40px;  
     border: none;
     background: rgb(255, 66, 49);
     color: white;
     font-weight: 1000;
     outline: none;
     font-size: 14px;
     cursor: pointer;
     border-radius: 3px;
     transition: .3s;
}
.center button:hover{
    background: rgb(255, 30, 0);
}

.success{
    margin-bottom: 40px;
    width: 100%;
    height: 3vh;
    background: rgb(48, 209, 48);
    border-radius: 3px;
    text-align: center;
    color: white;
}
.error{
    margin-bottom: 40px;
    width: 100%;
    height: 3vh;
    background: rgb(228, 64, 64);
    border-radius: 3px;
    text-align: center;
    color: white;
}
.errase {
    width: 100%;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid rgb(255, 0, 0);
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 0, 0);
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }