*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: url('https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png');
    background-size: cover;
    background-position: bottom;
}
.sidebar{
    position: fixed;
    left: 0;        
    width: 250px;
    height: 100%;
    background-color: rgb(28, 28, 29);
}
.sidebar header {
    font-size: 35px;
    text-align: center;
    line-height: 120px ;
    color: white;
    background-color:rgb(43, 44, 46);
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top:  1px solid rgb(68, 61, 61);
    border-bottom: 1px solid  rgb(68, 61, 61);
    transition: .4s;
}
.sidebar ul a i{
    margin: 20px;
    color: rgb(226, 151, 11);
}
ul li:hover a {
    padding-left: 50px;
}
.center  {
    align-items: center;
    width: 600px;
    background-color: white;
    min-height: 300px;
    padding:60px 60px;
    border-radius: 10px;
    margin-left: 15rem;
}
.center input {
    margin-top: 10px;
    margin-bottom: 10px;
     width: 100%;
     height: 100%;
     border: 1px solid rgb(207, 207, 207);
     padding: 12px;
     outline: none;
     border-radius: 10px;
     background: transparent;
     transition: .3s;
}
.center input:focus{
     border: 1px solid rgb(17, 17, 228);
}
.center label {
     color: black;
}
.center button {
     display: block;
     width: 100%;
     padding: 15pX 20px;
     align-items: center;
     margin-top: 40px;
     border: none;
     background: rgb(255, 66, 49);
     color: white;
     font-weight: 1000;
     outline: none;
     font-size: 14px;
     cursor: pointer;
     border-radius: 3px;
     transition: .3s;
}
.center button:hover{
    background: rgb(255, 30, 0);
}
.sidebar .button{
    background: linear-gradient(120deg,orange,rgb(233, 61, 61));
    display: block;
    margin-top: 90px;
    width: 50%;
    margin-left: 70px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.sidebar .button button{
     padding:10px;
     border: none;
     background: transparent;
     color: white;
     font-size: 17px;
     cursor: pointer;

}
 .content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5rem;
    min-width: 400px;
    margin-left: 15rem;
}
.content-table thead tr {
     background-color: #1f0216;
     text-align: left;
     color: white;
     font-weight: bold;
}
.content-table th  {
    padding: 12px 15px;
}
.content-table td {
    background-color: rgb(194, 193, 193);
     padding: 12px 15px;
}
.content-table tbody tr {
     border-bottom:1px solid #dddddd;
}
