body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
     background-size: cover;
    background-position: bottom;
    font-family: 'Lato', sans-serif;

}
.center {
     width: 400px;
     background-color: rgb(255, 248, 248);
     border-radius: 10px;
}
.text  {
    text-align: center;
    font-size: 22px;
    padding-top:24px;
    color: rgb(36, 33, 33);
    letter-spacing: 0.5px;
    border-bottom: 1px solid black;
    user-select: none;
}
.form {
    min-height: 300px;
    padding:60px 60px;
     border-radius: 10px;
     margin-left: 2rem;
}
.form input {
     margin-bottom: 20px;
     margin-top:10px;
     width: 200px;
     padding: 10px;
     border-radius: 4px;
     border: 1px solid rgb(173, 164, 164);
     outline: none;
}
.form input :hover {
     border: 1px solid #10866c;
}
.form button {
    margin: 40px;
    width: 130px;
    padding: 10px ;
    background-color: #3c94cf;
    color: white;
    border: none;
    outline: none;
    font-weight: 1000;
    border-radius: 3px;
    cursor: pointer;
}
.form button:hover {
    background-color: #054895;
}   
.signup{
    text-align: center;
    padding-right: 20px;
    color: rgb(36, 32, 32);
}
.signup a{
    text-decoration: none;
    color: #175fe4;
    margin-left: 8px;
}
.signup a:hover{
    text-decoration: underline;
}
.form label {
     font-size: 14px;
     font-weight: 1000;
     color: rgb(93, 90, 90);
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }