body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
    background: url('https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/wave.png');
     background-size: cover;
    background-position: bottom;
    font-family: 'Lato', sans-serif;

}
.center {
     width: 400px;
     background-color: rgb(255, 248, 248);
     border-radius: 10px;
}
.text  {
    text-align: center;
    font-size: 22px;
    padding-top:24px;
    color: rgb(36, 33, 33);
    letter-spacing: 0.5px;
    border-bottom: 1px solid black;
    user-select: none;
}
.form {
    min-height: 300px;
    padding:60px 60px;
     border-radius: 10px;
     margin-left: 2rem;
}
.form input {
     margin-bottom: 20px;
     margin-top:10px;
     width: 200px;
     padding: 10px;
     border-radius: 4px;
     border: 1px solid rgb(173, 164, 164);
     outline: none;
}
.form input :hover {
     border: 1px solid #10866c;
}
.form button {
    margin: 40px;
    width: 130px;
    padding: 10px ;
    background-color: #3ccfaf;
    color: white;
    border: none;
    outline: none;
    font-weight: 1000;
    border-radius: 3px;
    cursor: pointer;
}
.form button:hover {
    background-color: #10866c;
}   
.signup{
    text-align: center;
    padding-right: 20px;
    color: rgb(36, 32, 32);
}
.signup a{
    text-decoration: none;
    color: #3ccfaf;
    margin-left: 8px;
}
.signup a:hover{
    text-decoration: underline;
}
.form label {
     font-size: 14px;
     font-weight: 1000;
     color: rgb(93, 90, 90);
}